#navbarNav a {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.navbar-brand{
    color: whitesmoke;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
#navbarNav a:hover {
    text-decoration: underline;
}
.bg-arctic {
    background-color: #007bff;
}
.color-arctic {
    color: #007bff;
}
#about .card-img {
    height: 490px !important;
}
#image_gallery .card-img-top {
    height: 200px;
    background-size: cover;
}
#image_gallery
 {background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);}

#contact {
    background-color: #d9ebef;
}

#activity .card-img-top {
    height: 200px;
    background-size: cover;
}
.text-transparent {
    background-color: transparent;
}
.animate__animated.animate__flipInX {
    --animate-duration: 2s;
  }
  .animate__animated.animate__flipInY {
    --animate-duration: 2s;
  }
  .animate__animated.animate__jackInTheBox {
    --animate-duration: 2.5s;
  }

  @media only screen and (max-width: 600px) {
   .navbar-brand {
    font-size: medium;
   }
   .logo-img {
    width:20px;
    height:20px;
   }
   .toggler {
    width:20px;
   }
  }