#navbarNav a {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.navbar-brand{
    color: whitesmoke;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
#navbarNav a:hover {
    text-decoration: underline;
}
.bg-arctic {
    background-color: #007bff;
}
.color-arctic {
    color: #007bff;
}
.card-img {
    height: 490px !important;
}
.card-img-top {
    width:  200px;
    height: 200px;
    background-size: cover;
}
#image_gallery
 {background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);}